<html>
    <head>
        <meta charset="utf-8">
        <title>>Paper Index Tool</title>
    </head>
    <body>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <h1>论文检索工具</h1>
        <hr>
        <form method="post">
            {{ form.start(class='btn btn-primary') }}<br>
            {{ form.init_db(class='btn btn-primary') }}<br>
            {{ form.hour.label }}{{ form.hour(class='form-control') }}<br>
            {{ form.minute.label }}{{ form.minute(class='form-control') }}<br>
            {{ form.sched_start(class='btn btn-primary') }}
            {{ form.stop_start(class='btn btn-primary') }}
        </form>
        <div>
            <p><a href="{{ url_for('search') }}">Search</a></p>
            <hr>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <ul class=flashes>
                    {{ message }}
                </ul>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

    </body>
</html>



