<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <head>
        <meta charset="utf-8">
        <title>>Paper Index Tool</title>
    </head>
    <body>
        <h1>论文检索工具</h1>
        <hr>
        <form action="" method="post">
            {{ form.start }}<br><br>
            {{ form.init_db }}<br><br><br>
            {{ form.hour.label }}{{ form.hour(size=10) }}<br>
            {% for error in form.hour.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            {{ form.minute.label }}{{ form.minute(size=10) }}<br>
            {% for error in form.minute.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            {{ form.sched_start }}
            {{ form.stop_start }}
        </form>
        <div>
            <li>如果不输入时间，将会以当前时间为准</li>
            <p><a href="{{ url_for('search') }}">Search</a></p>
            <p><a href="{{ url_for('download') }}">Download</a></p>
            <hr>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

    </body>
</html>



