<html>
    <head>
        <meta charset="utf-8">
        <title>Search Documents</title>
    </head>
    <body>
        <h1>Search Documents</h1>
        <hr>
        <form action="" method="post">
            <label for="search">Search by title</label>
            <input type="text" name="key_words" id="search" style="width: 420px;height: 30px " required/>
            <input type="submit" value="提交">
        </form>
        <br>
        {% if results %}
            <b>Search results:</b><br>
            {% for result in results %}
            <p>{{ result }}</p>
            {% endfor %}
        {% endif %}
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <ul class=flashes>
                {{ message }}
            </ul>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </body>
</html>